* {
  animation: slideFromLeft 0.5s ease;
}
form {
  margin: 0 20px;
}
label {
  font-size: 15px;
}
p {
  font-weight: bold;
}
input {
  background-color: #fff;
  border-radius: 25px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  outline: none;
  transition: 0.5s all ease;
  font-size: 16px;
  margin-bottom: 30px;
}
input:focus {
  border-color: #000;
  color: #000;
}
input:disabled {
  opacity: 0.5;
}
button {
  margin-right: 20px;
  margin-top: 30px;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

h2 {
  margin-left: 20px;
}

.form-content {
  background: rgb(240, 240, 240);
  padding: 35px 45px;
  border-radius: 8px;
  width: min-content;
}

.image-upload {
  position: relative;
  display: inline-block;
}

.image-upload img {
  cursor: pointer;
  height: 70px;
  width: 70px;
  border-radius: 8px;
  margin-bottom: 12px;
  object-fit: cover;
  object-position: center;
}

.image-preview {
  height: 70px;
  width: 70px;
  object-fit: cover;
  object-position: center;
}
